.searchbox-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 5rem;
}

.left-side-header {
	display: flex;
}

#logo-header {
	width: 60px;
	margin: 0 1rem;
}

#title-header {
	font-size: 24px;
}

@media (max-width: 500px) {
	header {
		margin: 0 1rem;
	}
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-container {
    width: 100%;
	display: flex;
    gap: 1.5rem;
    justify-content:space-around;
    margin-top: 3rem;
    align-items: stretch;
}

.search-box {
	display: flex;
    padding: 5px 0.5rem;
	align-items: center;
    flex: 1;
    border-radius: 16px;
    background-color: rgba(112, 112, 112, 0.466);
}

#lupa-img {
	width: 30px;
}

.search-box input{
    border: none;
    outline: none;
    flex: 1;
    width: 300px;
    background: transparent;
    font-size: 18px;
    margin-left: .5rem;
}

.search-box:focus-within{
    border: 1px solid white;
}

h1{
    font-size: 36px;
    text-align: center;
}

.search-container button{
    padding: 0 15px;
    background-color: rgb(60, 57, 238);
    border: 0;
    border-radius: 10px;
    flex: 0;
    font-size: 16px;
}
.search-container button:hover{
    background-color: rgb(10, 58, 36);
    transform: scale(1.05);
    cursor: pointer;
}

@media (max-width: 500px){
    .search-container{
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
        align-items: stretch;
        max-width: 300px;
    }

    .search-container button{
        padding: 13px;
    }
}